[2014-05-17 21:06] florianb opened #1 "External classes aren't resolved correctly and therefore show up as errors"
This is because at the moment there's no specific class-path specified and `javac` falls back searching the working directory and the user-specified classpath.

Therefore a search-strategy must be found to correctly resolve classpaths for different project types (like maven, gradle, eclipse and so on). A unresolved question is if the linter should enable the compiler to detect if the setting-files

[2014-05-17 21:14] florianb opened #2 "Enable the javac-configuration from package settings"
Most important options/settings:

- `-source release` (1.3-1.8) - free text field?

[2014-05-17 21:15] florianb opened #3 "linter-javac catches no warnings"

[2014-05-17 21:25] #3 closed, assigned to nobody

[2014-06-13 18:38] anxolerd opened #4 "Can not make javac linter work"
Installed this package (Linter is installed too), but nothing happens when i open .java files that contain syntax errors. Tried to set javaExecutablePath to C:\\Program Files\\Java\\jdk1.8.0.5\\bin\\javac.exe.  C:\\Program Files\\Java\\jdk1.8.0.5\\bin\\, C:\\Program Files\\Java\\jdk1.8.0.5\\bin (javac is 100% there) Results were the same.

OS: Windows 7 Home Basic x64
Java is for x64
Atom is built

[2014-06-14 18:22] hckrtech opened #5 "File Name - Class Name match problem"
Although the file names and the class names are the same, linter keeps displaying the error: Class blahblah is public, should be declared in a file named blahblah.java.

[2014-06-16 11:09] #5 closed, assigned to nobody

[2014-06-16 11:18] florianb opened #6 "Configuration of javaExecutablePath is missing"
javaExecutablePath is not appearing in the linter-plugin configuration.

[2014-07-28 20:55] batjko opened #7 "Uncaught TypeError: undefined is not a function"
Ok, so I just made Linter work on Windows, using the fix provided by @glek on issue [#112](https://github.com/AtomLinter/Linter/issues/112).
And it works great for jshint for example.

But now I am opening a java file and immediately get this error in the Dev Console:
![image](https://cloud.githubusercontent.com/assets/7287076/3727004/3afcf66e-1699-11e4-9f44-ec841a8ad750.png)

Note, all linters se

[2014-09-26 10:54] nicolaiskogheim opened #9 "linter-javac complains about regular UTF8 characters"
linter-javac 0.1.3
atom 0.131.0

This was not a problem before.
The reported file format from `file`-utility in terminal gives `Main.java: UTF-8 Unicode c program text`

I actually don't know who's to blame for this, because it happened when I updated from atom 0.129.0 to 0.131.0. Java-files I created prior to that have this encoding (again reported by `file`) `Main.java: UTF-8 Unicode Java progra

[2014-10-10 10:48] AndalfTheBeard opened #10 "Typo on readme"
[code]

should be

[code]

Might be why people were getting confused.

[2014-11-28 10:26] #10 closed, assigned to nobody

[2015-01-29 02:10] skylineproject opened #12 "Linting occurs, but the results of linting don't display"
Hi all, thanks for your work on this!

Running the current version of Atom (0.176), linter, and linter-javac, it seems that errors found are not being reported back to the console.

Here's the output to the console after one save:
[code]

Even with the indication that an error occurred, the error count in the lower-right corner or Atom doesn't increase:

![screen shot 2015-01-28 at 8 05 28 pm](htt

[2015-03-11 20:38] tgaurnier commented on #1
Does Atom provide a way for packages to get the root project directory? If so wouldn't it be easier to just recursively scan the project directory for .java files and add them all to the class path? Also maybe you can add support for some type of a .classpath file in the root of the project directory? I know that AtomLinter lints files from a temporary directory, but if you are passing all the 'cl

[2015-04-12 01:49] skylineproject commented on #12
It turns out this is related to an issue with the regex used. I have prepared a PR (#13) to mitigate this.

[2015-04-12 01:58] skylineproject commented on #9
Hey Nicolai,

I've dug a little further into some of the issues I was experiencing with this package, and some of the other issues I've seen on this repo, and I think this may have been repaired in more recent versions of Atom.

In Atom 0.190.0, these exact same unicode characters seem to return no errors:
![linter-javac likes unicode now, yay](https://cloud.githubusercontent.com/assets/5009403/71

[2015-04-12 22:25] nicolaiskogheim commented on #9
Sorry, I switched editor about the time this happened and forgot all about it.
The errors I referred to are all gone now.

Thank you for the follow up.

Med vennlig hilsen,

Nicolai

[2015-04-12 22:25] #9 closed

[2015-05-04 09:09] jplatte opened #14 "2 deprecations warnings with current API"
Since some versions (currently I'm on 0.196.0) I'm getting 2 warnings about linter-javac from Deprecation Cop:

(1)

    Use a config schema instead. See the configuration section of https://atom.io/docs/latest/hacking-atom-package-word-count and https://atom.io/docs/api/latest/Config for more details

    Package.activateConfig - /usr/share/atom/resources/app.asar/src/package.js:247:11
    Packag

[2015-05-04 13:31] skylineproject commented on #14
Hi jplatte!

It looks like these deprecations are in ```atom core```, not the ```linter-javac``` package.
![screen shot 2015-05-04 at 8 30 27 am](https://cloud.githubusercontent.com/assets/5009403/7454295/da733846-f237-11e4-8ff9-52c75c778a93.png)

You can tell which package is causing the deprecation warnings based on the dropdown menu that contains them.

[2015-05-04 14:34] jplatte commented on #14
![screenshot from 2015-05-04 16-33-40](https://cloud.githubusercontent.com/assets/951129/7455320/67aab3b8-f27b-11e4-8c18-0b3cfb867f7a.png)

[2015-05-05 13:36] skylineproject commented on #14
Nice! I stand corrected. See the attached PR (you can apply it to your own install if you like!) for a resolution.

[2015-05-05 14:22] jplatte commented on #14
Thanks! (though I'll wait for the next release, the small warning icon isn't much of a problem :smile:)

[2015-05-05 14:29] skylineproject commented on #14
Totally. :)

To be honest, I'm not 100% certain this repo is still being maintained(?) There are gobs of stale PR's and issues hanging out here...

@florianb, are you still the core committer?

[2015-05-08 09:24] nelsonmenezes commented on #1
Building on the "per project config" idea from @tgaurnier, a "project type" setting could allow for the classpath discovery mechanism. For Maven, for instance, it could use this: https://maven.apache.org/plugins/maven-dependency-plugin/build-classpath-mojo.html

[2015-05-09 17:39] Nesffer opened #16 "Package.activateConfig is deprecated."
Use a config schema instead. See the configuration section
of https://atom.io/docs/latest/hacking-atom-package-word-count and
https://atom.io/docs/api/latest/Config for more details
[code]

[2015-05-09 17:46] Nesffer commented on #16
module.exports =
  configDefaults:
    javaExecutablePath: null

to

module.exports =
  config:
    javaExecutablePath: "C:\\Program Files\\Java\\jdk1.8.0_45\\bin\\javac.exe"

[2015-05-09 17:46] #16 closed

[2015-05-12 20:07] florinbroasca opened #17 "Config.unobserve is deprecated."
Config::unobserve no longer does anything. Call `.dispose()` on the object returned by Config::observe instead.
[code]

[2015-05-12 20:08] florinbroasca opened #18 "Package.activateConfig is deprecated."
Use a config schema instead. See the configuration section
of https://atom.io/docs/latest/hacking-atom-package-word-count and
https://atom.io/docs/api/latest/Config for more details
[code]

[2015-05-12 20:08] florinbroasca opened #19 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-12 21:03] skylineproject commented on #17
Please see pull requests #13 and #15 for fixes to this issue. I'm not a maintainer of this package, so I can't commit this to a release, but I'm trying to help bring this package up to date where I can. I'd love to have your feedback!

[2015-05-12 21:06] skylineproject commented on #18
This is repaired in PR #15. Please review and apply to your own repository at your leisure :)

[2015-05-17 05:00] skylineproject commented on #19
Hey Florin! As previously, I have repaired this in my own fork of the repo. We can't seem to get ahold of the repository maintainers, so I've made the change in my own repo and submitted PRs. If you'd like to remove these errors in the meantime, you can also use my fork of this repo, which doesn't exhibit these issues.

To install, run:

```git clone https://github.com/skylineproject/linter-javac.

[2015-05-17 22:51] lunij commented on #1
This is an one year old issue. Is there someone still interested to implement this? Otherwise this package is totally useless without this implementation.

[2015-05-18 03:33] viniciuspires commented on #1
I'm also affected by this. I still haven't messed around with Atom Linters API, but does it allow an easy way of per-project configuration? If it does would it be simple as classpath configuration to pass via `-cp` argument, or am I over-simplifying it?

[2015-05-18 13:09] lunij commented on #1
That's the question. I don't have much experience with the Atom API yet, otherwise I'd try out exactly @viniciuspires's approach.

[2015-05-18 13:29] skylineproject commented on #1
I'm somewhat familiar with the Atom API, I'll give the -cp method a go this afternoon. :)

[2015-05-22 20:39] kevinsawicki commented on #19
Fixed by https://github.com/AtomLinter/linter-javac/pull/15

[2015-05-22 20:39] #19 closed

[2015-05-22 20:40] kevinsawicki commented on #18
Fixed by https://github.com/AtomLinter/linter-javac/pull/15

[2015-05-22 20:40] #18 closed

[2015-05-22 20:40] kevinsawicki commented on #14
Fixed by https://github.com/AtomLinter/linter-javac/pull/15

[2015-05-22 20:40] #14 closed

[2015-05-22 20:43] #17 closed

[2015-06-02 14:48] AsaAyers opened #20 "Upcoming linter changes"
We're in the process of replacing `linter` with a rewrite. Our central issue for tracking the plan is https://github.com/AtomLinter/linter-plus/issues/29. We're working hard to make this a smooth transition for you and for your users.

Please let us know here if you'd prefer to do the work yourself. If you have any questions or concerns please join us in our [room on gitter](https://gitter.im/Atom

[2015-06-07 21:26] tgaurnier commented on #1
@lunij, the package isn't "totally" useless, there is a workaround that we can use in the meantime. Open a terminal in the root directory of your project, and launch Atom as such:
CLASSPATH="classpath_1:classpath_2:etc." atom .

This way Atom and all of it's sub-processes will share the class paths, and all should work as expected. Don't get me wrong, we shouldn't have to resort to this, but it's

[2015-06-08 03:00] steelbrain commented on #1
Please note that this bug will be fixed as soon as this linter upgrades to the new Plus API.

[2015-06-08 12:06] nelsonmenezes commented on #1
@tgaurnier that's quite neat. Then, for Maven projects you can do this:
[code]

[2015-06-08 15:08] viniciuspires commented on #1
@nelsonmenezes Genious solution.

[2015-06-26 08:30] eltados opened #21 "Maven Java Project"
Is there a way to configure linter-javac to work with maven ?

[2015-06-26 11:21] adben commented on #21
+1 to this

[2015-06-26 13:58] eltados commented on #21
that is not really a long term solution IMO ...

[2015-06-26 15:48] k2b6s9j commented on #21
I am planning on creating more project based linters like linter-gradle, and linter-maven.

[2015-06-26 15:48] k2b6s9j commented on #21
And linter-ant.

[2015-06-26 16:09] eltados commented on #21
Cool @k2b6s9j  give me a shout if you want help to test  ( or to implement but that would be a first module for me ) the linter-maven.

[2015-06-26 16:10] k2b6s9j commented on #21
Of course.

[2015-07-08 22:12] daw42 commented on #20
Any progress on this?  I'm getting deprecation warnings now in Atom 1.0.2 with linter 1.2.0.  I'm willing to help if someone could point me in the right direction.

[2015-07-08 23:26] RicardoIglesias opened #22 "Object.activate is deprecated."
AtomLinter v0.X.Y API has been deprecated. Please refer to the Linter docs to update and the latest API: https://github.com/AtomLinter/Linter/wiki/Migrating-to-the-new-API
[code]

[2015-07-12 13:52] kakacut commented on #22
I'm still seeing this in 0.1.4

[2015-07-18 06:03] MingyuWu commented on #22
I can not use Linter-javac in Atom 1.0

[2015-07-21 20:59] ghostlurker commented on #22
+1

[2015-07-22 23:38] MateusSouza10101 opened #24 "LinterJavac.Linter is deprecated."
AtomLinter v0.X.Y API has been deprecated. Please refer to the Linter docs to update and the latest API: https://github.com/atom-community/linter/wiki/Migrating-to-the-new-API
[code]

[2015-07-31 20:07] daw42 commented on #24
Please see PR #23

[2015-07-31 20:08] daw42 commented on #22
Please see PR #23

[2015-08-03 23:26] #22 closed

[2015-08-03 23:26] #24 closed

[2015-08-03 23:34] #20 closed

[2015-08-04 00:23] daw42 opened #25 "Make classpath configurable"
Add configuration option so that user can add to classpath.

Relates to #1

[2015-08-04 00:25] daw42 commented on #1
This issue should be resolved by PR #23 .  However, we should also make the classpath user-configurable.  I suggest we close this in favor of #25

[2015-08-04 01:57] k2b6s9j commented on #1
Closing at the recommendation of @daw42.

[2015-08-04 01:57] #1 closed

[2015-08-05 00:26] daw42 opened #28 "Regex is getting incorrect results in some cases"
The `errRegex` captures too much of the string in some cases.

For example, this one works fine

`Test.java:12: error: method doFoo in class Test cannot be applied to given types`

the word "error" is captured properly.

But this one doesn't work:

`Test.java:8: error: incompatible types: possible lossy conversion from float to int`

it captures `error: incompatible types`, instead of just `error`

[2015-08-05 04:50] k2b6s9j commented on #28
I can fix this by replacing the regex with: `/^(.*\.java):(\d+): ([\w \-]+): (.+)/`.

I will do this now.

[2015-08-05 04:52] k2b6s9j commented on #28
Proof: https://regex101.com/r/vK9dM3/1.

[2015-08-05 04:55] k2b6s9j commented on #28
@daw42 If you could give me a file which produces this issue, I'd love to incorporate this into a unit test one day.

[2015-08-05 04:56] #28 closed

[2015-08-05 21:38] daw42 commented on #6
I think this is resolved now.

[2015-08-05 21:44] daw42 commented on #28
Here's a file that produces the incompatible types error:

[code]

[2015-08-05 22:25] #6 closed

[2015-08-05 22:27] #25 closed

[2015-08-05 23:00] stdex opened #29 "Too much errors"
![image](https://cloud.githubusercontent.com/assets/4608879/9100015/c0bd134a-3bde-11e5-92a9-85b9222e5721.png)

[2015-08-05 23:01] steelbrain commented on #29
Can you compare the output of `linter-javac` and `javac` cli and tell us if they are different?

[2015-08-05 23:02] daw42 commented on #29
This is probably the classpath issue that should be fixed by #26 and #27.

[2015-08-05 23:12] stdex commented on #29
@steelbrain: output's are same, but I expected a different behavior...
In intellij I have no errors for this class.

[2015-08-05 23:57] k2b6s9j commented on #29
The issue is Maven provides the Java compiler everything needed for a successful compilation. This package sends the current file directly to the Java compiler. In this instance having you set up the Linter to match your Maven instance would not be worth your time or ours. A Linter provider for Maven projects is coming. I will release before the end of August.

[2015-08-05 23:57] #29 closed

[2015-08-05 23:59] k2b6s9j commented on #29
Don't feel too bad. This issue exists with all project based Java projects (Maven, Ant, Gradle, etc.)

[2015-08-06 00:03] k2b6s9j commented on #29
@steelbrain As per your question. The output of `linter-javac` and `javac` would be identical. Herein lies the problem. @stdex is expected `linter-javac

[2015-08-11 16:47] keskiju commented on #2
A free text field that contains additional parameters passed to javac during linting. Although some settings are usually project specific so a project specific settings file would be nice.

[2015-08-11 21:15] daw42 commented on #2
@keskiju I agree that per-project configuration would be useful.  I recently submitted a pull request ( #30 ) that would allow for per-project configuration via CSON files (initially for classpath, but could be expanded to include other options such as arbitrary `javac` parameters).  However, the project maintainer felt that it was important to support a pre-existing standard set by `linter-scalac

[2015-08-11 21:18] daw42 commented on #4
Looks like this has been resolved.  Perhaps it should be closed?

[2015-08-11 23:21] m4tty opened #31 "In packages with multiple files, only the current file is sent to javac. Errors are reported if dependencies exist.."
If you have multiple files in a package (e.g. FooServer.java and FooResource.java) and one depends on the other, javac will report errors because the other file wasn't provided to it via linter-javac and so it isn't aware of that source.

[2015-08-12 09:12] keskiju commented on #2
Uniformity between plugins is always a good thing. Currently someone is developing java-importer plugin for Atom and it would be handy if eventually both linter-javac and java-importer plugins would use the same classpath settings from the .classpath file.

However, there might be a small problem with the .classpath file approach. It might cause conflicts between different editor conventions if so

[2015-08-13 20:28] kepler0 opened #33 "Allow daw42 to be maintainer of this package."
I am not doing a fair job maintaining this package. At one time I was interested in, and familiar with the Java language. However that interest has slipped and while I am still familiar with Java, the language and the compiler, it is not fair for this package to have an uninterested maintainer.

Given this, the maintainer of this package should be interested in Java and the package itself, which @

[2015-09-09 08:39] guchenghao opened #34 "Uncaught Error: spawn EACCES"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.11
**System**: Ubuntu 14.04.3
**Thrown From**: [linter-javac](https://github.com/AtomLinter/linter-javac) package, v1.2.0

### Stack Trace

Uncaught Error: spawn EACCES

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-09 10:42] steelbrain commented on #34
Either `/home/dell/program/java` is a folder or it doesn't have execute permissions.
You should point `javaExecutablePath` at the java executable file.

[2015-09-09 10:42] #34 closed

[2015-09-19 12:14] lsunsi commented on #1
Is this solved yet? I'm having the same problem and can't see documentation about how to fix this.

[2015-10-20 17:59] bluescreen10 opened #35 "Allow Choice in Generating Class file alongside Source File"
Since linter-javac invokes the compiler if the file passes linter it would generate a .class file. To prevent that linter-javac needs to create a temporary folder and use the "-d" option of javac to place compiled classes and then remove the .tmp folder.

[2015-10-20 18:48] k2b6s9j commented on #35
/cc @steelbrain

Mind taking this?

On Tue, Oct 20, 2015, 11:59 AM Mariano Wahlmann <notifications@github.com>
wrote:

[2015-10-20 18:49] steelbrain commented on #35
Sure

[2015-11-03 02:35] #4 closed

[2015-11-03 02:36] kepler0 commented on #33
Closing as the interest seems to have faded.

[2015-11-03 02:36] #33 closed

[2015-11-03 02:39] kepler0 commented on #21
I no longer plan to create linters for these scenarios, rather the should be done in a package designed for building. Please see, [`atom-build`](https://atom.io/packages/build). It is organized like `linter` is and integration between `linter` and `build` is in the works.

[2015-11-03 02:39] #21 closed

[2015-11-03 02:45] #12 closed

[2015-11-03 02:46] kepler0 commented on #35
I would like to confirm that I have encountered this myself in a Java project I was working on.

[2015-11-03 14:23] steelbrain commented on #35
@kepler0 If you want this to be resolved quickly, please do take it over

[2015-11-04 00:20] #31 closed

[2015-11-04 00:21] kepler0 commented on #35
I've got more time now, I'll take this soon.

[2015-11-04 00:22] steelbrain commented on #35
:+1:

[2015-11-13 19:01] supahkutdiamnds opened #36 "Does not lint"
I have a fresh atom install with JDK ( Java SE Development Kit 8u66 ).
Nothing will lint, I have tried uninstalling/reinstalling/deleting my ~.atom for a fresh config/etc.

Here is my config.cson. I have tried a few things

config attempt 1:
[code]

Config attempt 2:

[code]

Config attempt 3 (DEFAULT, AFTER INSTALLING PACKAGES):
[code]

[2015-11-15 21:19] supahkutdiamnds commented on #36
Ok so I tried another fresh install ( i .atom and reinstalled the atomio linter and linter-javac)

Here is my config now

"*":
  "exception-reporting":
    userId: "e4f5993e-0ba1-2f57-2495-830ca138ba1d"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "fruits-syntax"
    ]
  linter: {}
  editor:
    invisibles: {}
  "linter-javac":
    javaExecutablePath: "C:\\Pr

[2015-11-19 13:53] Jarvvski opened #37 "not auto creating class file anymore"
This used to auto create the class file for me when saving in atom for mac.

That functionality seems to have been lost?

[2015-11-19 20:08] drakecaiman opened #38 "spawn E2BIG when linting"
I am getting spawn E2BIG errors when saving .java files in Atom.

It might have something to do with the number of files in the project folder, as open a window including only a single folder from the project does not produce the error.

#### Steps
* Make changes to an open .java file
* Save file

#### Expected:
Atom updates linter display without error
#### Actual:
No linting, following error dis

[2015-11-19 20:25] steelbrain commented on #38
If I had to guess, you have specified an invalid executable path in the configuration

[2015-11-19 21:48] drakecaiman commented on #38
The package settings (javaExecutablePath)? Without changing the path setting (on default), it seems to work fine with a smaller Tree View (seven folders deep, 200 files), but not when the tree view's root is one directory up (~5,000 files).

[2015-11-20 07:17] ilikebits commented on #37
This functionality seems to be unintended (see #35).

[2015-11-20 07:35] ilikebits opened #39 ""Duplicate class" error"
Even though the linter is running relative to the nearest `.classpath` for any particular file, it's still passed all the files relative to project root. This causes "duplicate class" errors if I have multiple classes with the same name in the same Atom project (but not the same Java project). Example:
[code]

[2015-11-20 09:38] Jarvvski commented on #37
I see.

Would it be possible to allow the two options in the settings? I for one enjoy not having to javac every time I need to build, just so I can Java the output

[2015-11-20 18:57] kepler0 commented on #37
I would like to make this a Boolean Configuration Option, defaulted to not generating source files.

[2015-11-20 18:58] kepler0 commented on #37
Closing and moving into #35.

[2015-11-20 18:58] #37 closed

[2015-11-20 19:00] #7 closed

[2015-11-20 19:17] #39 closed

[2015-11-23 00:52] sn1p3r46 opened #41 ".classpath syntax"
Hello, thanks for the great plugin you developed.

I am having troubles with the .classpath file, could you provide some examples for a complex .classpath file?

The plugin does not work when I add multiple path, but I guess is a problem of mine not of the plugin.

Thanks a lot
Andrea

[2015-11-23 15:54] keskiju commented on #36
I have the same problem on my Mac (OS X 10.11.1, Atom 1.2.0 and Java 8u51). It does lint however, but errors are shown on the project tab only. For current file it always says "no issues" and therefore also inline messages are not shown at all.

[2015-11-23 17:44] Arcanemagus commented on #36
This project doesn't seem to have an active maintainer, we would welcome somebody to take this over and a good first step would be diagnosing issues like this and submitting a PR :wink:

My guess is that the file path the linter is outputting don't match the full path to the file as Atom sees it (`textEditor.getPath()`), messages only show on the file tab when their path matches the currently open

[2015-11-23 17:45] steelbrain commented on #36
@Arcanemagus This project does actually have a maintainer, Ping @kepler0 :stuck_out_tongue:

[2015-11-24 05:02] keskiju commented on #36
In my case the problem was caused by a symlink. I keep all my active projects side by side in the same directory but some of them are actually symlinks that point elsewhere. In this case the project root directory was actually a symlink.

[2015-11-25 09:59] noseglid commented on #38
I've seen the same issue. `E2BIG` is a unix error where the executed command is too long. That includes the classpath set from the `.classpath` file, all the java files found by traversing the tree and adding them.

I managed to get it to work by reducing my classpath to an acceptable length, but that's just gonna work for so long. A change in the linter plugin is needed where stuff to `javac` is

[2015-11-25 10:00] noseglid commented on #36
This can also happen if you have multiple root projects open and the project your currently working on is not the first one (cause: https://github.com/AtomLinter/linter-javac/blob/master/lib/init.coffee#L92)

[2015-11-25 10:03] noseglid opened #42 "Only lints if it is the first of multiple open project roots"
The linter only works if it is the furst of multiple project roots. The reason is obvious [from this line](https://github.com/AtomLinter/linter-javac/blob/master/lib/init.coffee#L92).

I think the linter should see which file is currently open and derive the active path from that. I've built this method in [atom-build](https://github.com/noseglid/atom-build/blob/master/lib/build.js#L159-L175).

[2015-11-25 11:32] noseglid opened #44 "Synchronously walking file system"
Atom locks up while walking the file system searching for all files. This gives a bad use experience and makes everything feel sluggish.

Using promises and the async versions of the `fs` functions should make this smoother.

[2015-11-25 13:26] steelbrain commented on #44
@kepler0 this seems reasonable, should we add an async findFile helper in the helper module?

[2015-11-25 21:26] #42 closed

[2015-11-25 21:27] kepler0 commented on #44
@steelbrain That seems like a useful addition. Talk with @noseglid on Slack about adding it to the module.

[2015-12-15 16:42] Ehekatl commented on #36
I have the same problem, other linters perform well except this, I'm on windows 10, atom 1.3.1, javac is runable in my path, but ctrl + alt + i shows that linter-javac didn't load (while *.java file open)

[2015-12-31 02:21] RomuloPBenedetti commented on #41
I would like it too, in my case I have a project with "sub-projects"
with gradle builds, one of them is java, I've put paths from my repository root where is ```.classpath```:

    ./subproject(java)/src/main/java:
    ./subproject(java)/build/classes/main:
    ./subproject(java)/lib/*

As you can see I don't include in my paths, package folders.
And I would like to know why ```.class``` files are

[2015-12-31 17:57] Arcanemagus commented on #41
The `.classpath` file is part of `javac`, not this package. This is just a simple intermediary that runs that, parses its output, and sends it to linter.

I was trying to find some examples to put in the readme anyway... but I wasn't having much luck from a quick Google search. @kepler0 since you've done most of the recent work on this do you have any good examples or resources about them? Last ti

[2015-12-31 23:18] RomuloPBenedetti commented on #41
There is no reference to this method of declaring class files location in [javac documentation](http://docs.oracle.com/javase/7/docs/technotes/tools/windows/javac.html).
Some other packages as autocomplete-java are using this concept, But it takes the same example as point.

[2015-12-31 23:26] Arcanemagus commented on #41
The answers to this are really all that I've been able to find: http://stackoverflow.com/questions/7186676/whats-in-an-eclipse-classpath-project-file

[2016-01-11 18:34] #44 closed

[2016-01-14 18:31] Arcanemagus opened #55 "Implement specs"
It looks like this linter does not currently have any specs written for it, adding it to the list being maintained [here](https://github.com/AtomLinter/Meta/issues/11) for tracking.

Specs do not need to be super detailed, as they should mainly test whether the package is properly running the linter plugin and parsing its messages. Leave testing of the linter functionality to the author of the lin

[2016-01-22 23:53] ALEXMORF commented on #35
Is there an estimated date on when this functionality will be added?

[2016-01-23 09:58] keskiju commented on #35
I think removing classes after linting should be optional, because automatically compiled classes can be useful in many ways, e.g. autocompleting using classes, developing whilst JVM is running and reloading changed classes with spring-loaded, etc.

Javac configuration should be project specific, imho. Perhaps a .javac file placed at the project root dir? It would also solve #2, since then you can

[2016-01-26 08:15] florianb commented on #38
This problem may likely be avoided, by moving the classpath-argument to the [option-parameter](https://github.com/AtomLinter/atom-linter/blob/master/lib/helpers.js#L65) (`options.env.CLASSPATH`) of the executing command.

[2016-01-26 08:57] florianb commented on #2
@daw42: thanks for your support :smile: -- unfortunately the `.classpath`-file has its origin in the Eclipse-domain, which is why this file (imho) shouldn't be used to extend further functionalities like storing other parameters than class-references.

I see a strong need for a standardized project-based configuration -- i'll try to bring that into discussion for the whole atom-linter-plugin.

[2016-01-26 09:01] florianb commented on #35
Are there any news on this? :)

[2016-01-26 09:16] florianb commented on #41
The `.classpath`-file is originated at the eclipse-project (unfortunatels i couldn't find any good resource documenting its xml-structure, but at least a [semi-good](http://www.javabeat.net/editing-eclipse-classpath-file/) one). Other tools like Maven, Gradle and Netbeans are able to read or generate thos `.classpath` files, so i guess for a normal developer workflow this might be the most unobtru

[2016-01-26 09:21] florianb commented on #36
Are there any updates on this?

[2016-01-26 20:51] GeremyHamlett opened #58 "Cant figure out the proper configuration"
No matter what I try I receive this error.  I have tried moving my JDK to a path thats shorter assuming it was the path length.  Any one have a clue what might be the issue here?

This is the error thrown everytime I save a java file.  Below is the lines of the coffee script.  I'm fairly certine it has something to do with my javac path but nothing I try seems to work.

[code]

init.coffee : lines

[2016-01-26 21:43] steelbrain commented on #58
@GeremyHamlett `ENAMETOOLONG` is a common error on windows, it's a limitation of file system. Either your atom version is old and is installing really deep nested dependencies or the process you're trying to spawn has a really long path.

[2016-01-27 08:13] florianb commented on #58
@GeremyHamlett thank you for posting that error. I think this issue may be related to #38 and is currently under consideration.

May i ask you if you are using any additional parameters or classpath-configurations?

[2016-01-27 12:39] GeremyHamlett commented on #58
@steelbrain Thanks for the info. My atom is up to date.  I will try to see if I can shorten the paths. Maybe a quick test on a small project at the root of the FS would be good.

@florianb I would probably be using some but at this point I'm just trying to get it to recognize Javac.

I looked at issue 38 and thought the same thing but the error looked different enough where I thought I would go ah

[2016-01-27 13:49] steelbrain commented on #58
@GeremyHamlett It would be very helpful if you would tell us the executablePath by adding a `console.log(@javaExecutablePath)` before `helpers.exec(@javaExecutablePath, args, {stream: 'stderr', cwd: wd})` in `init.coffee`

[2016-01-27 14:06] GeremyHamlett commented on #58
@steelbrain
Here is the log output. I moved my jdk to a very short path to test.  Still get the same result.
autocomplete-java project root dir: C:\workspace\repair
JavaClassLoader.js:58 autocomplete-java load start, full refresh: true
JavaClassLoader.js:87 autocomplete-java loading project classes. loadMembers: false
JavaClassLoader.js:108 autocomplete-java loading system classes.
JavaClassLoader

[2016-01-27 17:30] steelbrain commented on #58
@GeremyHamlett From your debug output, I see `c:\jdk8\bin` set as the executable path. It's a directory if I'm not mistaken and the option expects a file path. Can you try setting it to `c:\jdk8\bin\java.exe`?

[2016-01-27 18:35] GeremyHamlett commented on #58
Same results.  No changes in the errors at all.  Either from the shorter path or longer.

[2016-02-09 13:49] florianb opened #62 "Project-specific classpath configuration without .classpath"
I carried the requirement to allow a project-specific classpath-configuration to a corresponding thread in the atomcommunity: https://github.com/atom-community/linter/issues/744

It turned out that it's the final consensus to provide project-specific configurations via the [project-manager plugin](https://atom.io/packages/project-manager).

Since the `.classpath`-file is originated in the Eclipse-

[2016-02-09 13:54] florianb commented on #41
Since it looks like that a few issues touch the use of `.classpath`-files i swapped that topic into a different issue.

For the reasons in the issue #62 - i would like to allow the classpath-settings over the configuration only. I appreciate any thoughts.

[2016-02-09 14:01] florianb commented on #2
In order to solve the `.classpath`-issue #62 i carried this discussion to https://github.com/atom-community/linter/issues/744. The overall consensus is to swap that kind of functionality to the project-manager plugin.

So i'd like to close that issue for now - feel free to pick the discussion up.. :lollipop:

[2016-02-09 14:01] #2 closed

[2016-02-09 14:18] keskiju commented on #62
Many linters support folder specific settings. For example with eslint you can have separate .eslintrc files for client and server directories. IMHO folder specific settings be very useful feature also for linter-javac but does project-manager plugin support that? If it doesn't, how about a folder specific .javacrc file that would contain a classpath and other javac-settings like encoding, source,

[2016-02-09 14:26] florianb commented on #62
The project-manager plugin allows you to set the all configuration-settings for every plugin on a per project base. That means, if you manage a project with different classpath-settings in subfolders, you'd have to open the different folders in paralell as different "projects". Then every project-directory may have a different config.

I went into the discussion with the idea adding a linter-speci

[2016-02-09 14:29] NanoDami opened #63 "Undefined is not a function. Not sure what is happening here."
So i am just editing some java files when this file suddenly pops up when i try to save my project. Everything get's saved, but i am not sure why this error message pops up.

[code]

[2016-02-09 14:36] florianb commented on #63
Thanks for reporting @NanoDami - we're going to investigate that. It might be possible that we get back to you for further questions on that issue.. :coffee:

[2016-02-09 15:30] SoundBot opened #64 "spawn ENAMETOOLONG"
Saving any java file triggers following error:

**Atom Version**: 1.4.3
**System**: Microsoft Windows 7 Enterprise
**Thrown From**: [linter-javac](https://github.com/AtomLinter/linter-javac) package, v1.5.0

### Stack Trace

Uncaught Error: spawn ENAMETOOLONG

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-09 15:31] steelbrain commented on #64
Can you try adding path to java in this package's executable path and retry?

[2016-02-09 15:33] florianb commented on #64
Thanks for reporting @SoundBot.

I think the issue belongs to https://github.com/AtomLinter/linter-javac/issues/58.

[2016-02-09 16:12] florianb opened #65 "Add a proper description of the configuration-settings"
The description of the configuration settings might be improved by adding a [`description`](https://atom.io/docs/api/latest/Config)-key to the different settings.

[2016-02-09 20:48] Arcanemagus commented on #62
Actually there is only this one that is trying to do anything like this on it's own, all other `AtomLinter/linter-*` plugins rely on their linter program to handle things like that (eg: `eslint`).

It does sound like it might be a good idea to start a discussion with other Atom packages that are using `javac` as to how to configure it and if you need a custom configuration file that you all handle

[2016-02-09 20:50] Arcanemagus commented on #63
I'm betting that the issue here is that the file you were working on was opened as a "raw" file, instead of opening the directory in Atom as a "project".

[2016-02-09 21:15] florianb commented on #62
@Arcanemagus i think that's not really the case. With the introduction of the reinvented `.classpath` files (which is a concept introduced by linter-scalac) confusingly an already settled fileformat was obscured.

As the discussion in atom-community proved an overall configuration solution is considered as too obtrusive.

A java-specific-solution, which f.e. allows us to use classpath-definitions

[2016-02-09 22:26] keskiju commented on #62
Classpath, source encoding, target java version, etc. are settings that should be shared among development team, and thus, should be committed to project git repository, imho. I don't know if project-manager plugin supports that. It seems that it saves settings of all projects to a single user specific projects.cson file that is located in .atom directory.

[2016-02-09 22:39] florianb commented on #62
Using project-manager there would be the possibility putting all atom-configuration options per project in a `cson`-file. The could also go complete classpath-definitions as well as javac-command line options.

All javac-options for the linter could also go into specific `@files` which then also may be shared over a scm.

Using the project-manager plugin would in my opinion decrease our maintenanc

[2016-02-10 07:16] daiwenxiamen commented on #36
I have the same problem Cry cry cry

[2016-02-10 07:49] Arcanemagus commented on #36
@daiwenxiamen Do you have other linters installed that are working? Or not?
Do you see any errors in the console?
Does `javac` exist in your `$PATH`?
Does manually specifying the full path to it in the settings change anything?

[2016-02-10 10:43] daiwenxiamen commented on #36
@Arcanemagus
NO
NO
YES I can run javac & java in cmd
YES but still not working

[2016-02-10 10:54] florianb commented on #36
If the issue won't be taken by anyone i'll take it over after i finished the test-suite. I beg for patience. :cookie:

[2016-02-10 15:46] florianb opened #66 "Enable optional linting on the fly again"
Enable optional linting on the fly by implementing a one-slot queue for pending lint-requests and a parallelized linter-execution based on `atom.Task`.

The mode should be switchable in the configuration settings.

[2016-02-10 15:50] florianb opened #67 "Implement optional debug-mode"
Implement optional debug-mode, probably triggered by a config-switch, generating a useful debug-report during the linter runs.

The debug-report may be exposed as a copy-to-clipboard button.

At least the console output should be triggered.

[2016-02-10 18:10] Arcanemagus commented on #36
@florianb You are the only current maintainer of this linter :stuck_out_tongue:.

[2016-02-10 18:41] Arcanemagus commented on #66
For an alternative implementation you can check out `linter-eslint` as it also spawns a separate process to do the work so Atom isn't blocked waiting on results.

[2016-02-10 19:27] florianb commented on #36
@Arcanemagus - :scream_cat: i somehow try to avoid that cognition..

[2016-02-10 19:30] florianb commented on #66
Thanks @Arcanemagus -  `linter-eslint` inspired me to consider this enhancement. I already implemented a similar mechanism in the gradle-ci plugin.

[2016-02-10 20:53] bkazi opened #68 "Does not lint. atom.project.getPaths(...).sort(...).find is not a function"
The error below is produced on a save running Atom on Ubuntu Gnome Wily with only one project folder in use

[code]

find isn't recognized as an Atom function
Any ideas for a fix?

[2016-02-10 20:57] Arcanemagus commented on #68
@florianb I'm guessing this is a case where there is no open project, just a raw file. @clamey just put up a brilliantly simple method of getting the project path in https://github.com/AtomLinter/linter-csslint/pull/79, you might want to move to that from this current code (handling files not in a project of course).

[2016-02-11 07:42] florianb commented on #68
@bkazi thanks for reporting this issue! :cake:

@Arcanemagus thanks for the hint, i'm going to investigate that. Fortunately i have already some experiences with facy project-path-relations.

I will start investigating after the test-implementation which hopefully will happen today.. :date:

[2016-02-11 10:52] florianb opened #69 "Range-marker for error seems not to be set properly"

[2016-02-11 12:31] #69 closed

[2016-02-11 12:43] florianb opened #70 "helper.exec() should be stubbed"
The helper.exec()-function should be stubbed or mocked to remove the test-dependency on a installed java-env.

Edit:
Stderr-outputs for Mac javac_1.8.0_74 are already provided in the fixture-directory.

[2016-02-11 12:45] florianb commented on #55
Fundamental specs implemented.

The whole test-arrangement could be improved f.e. by mocking more the `javac`-dependency (see #70).

[2016-02-11 12:48] florianb opened #71 "The java-results on the travis-platforms osx/linux differ by one"
[code]

[2016-02-11 12:52] florianb commented on #71
I assume this happens wether by a version- or a family-difference in the travis-platform. I have no time to dig in deeper.

Fixed that dirty by decreasing the expected message-count.

[2016-02-11 12:52] #71 closed

[2016-02-11 12:53] steelbrain commented on #71
@florianb We really appreciate the work you're doing! :+1:

[2016-02-11 12:55] florianb commented on #71
Thanks @steelbrain.. :beers:

[2016-02-11 13:03] #55 closed

[2016-02-11 13:08] florianb commented on #35
I'm taking over that issue and going to investigate this.

I guess adding a choice in the configuration-settings to optional cleaning up any temporary content would help all involved parties?

[2016-02-11 13:11] florianb commented on #63
This issue is probably related to #68 - i close this issue here for now. Hoping it get's resolved by fixing #68. :godmode:

[2016-02-11 13:11] #63 closed

[2016-02-11 13:13] florianb commented on #58
In favor of #64 i'm closing this issue for now. :godmode:

[2016-02-11 13:14] #64 closed

[2016-02-11 13:15] florianb commented on #38
In favor of #58 i'm closing this issue for now. :godmode:

[2016-02-11 13:15] #38 closed

[2016-02-11 17:55] bkazi commented on #68
Update:
There seems to be no issue and linting does take place after updating Atom to 1.5.1, since I realised that I was still using 1.0.19 and not been receiving updates over the air

Hope that helps

[2016-02-11 18:31] florianb commented on #68
Aye - thanks @bkazi :lollipop:

 I'll take that in consideration, probably @NanoDami uses an older version of Atom, too?

[2016-02-11 19:49] Arcanemagus commented on #55
Thanks!

[2016-02-11 19:54] Arcanemagus commented on #68
Ah, if you were on that old of a version of Atom it's possible core JS features this relies on were missing before.

[2016-02-11 19:56] NanoDami commented on #68
I don't have that particular laptop with me now, but i can check once i get back home. It sounds like that might be the case and now i feel like an idiot =P

[2016-02-11 19:57] Arcanemagus commented on #70
Actually I'd say this is a rather bad idea. If the `javac` output itself changes on you, your tests will fail to show that anything is wrong (For example in linter-php I saw that PHP7 had fixed a bug in the output that I was unintentionally relying on to parse the output).

[2016-02-11 20:05] Arcanemagus commented on #68
@NanoDami it's not your fault Atom needs work on it's autoupdate feature :wink:.

[2016-02-12 08:25] florianb commented on #68
@NanoDami please do not! Even if this an issue is caused by Atom it could lead to a filed :bug: in the core-repo. And probably there is still a chance to avoid this in general, because our Atom-dependency is set wrong, or we need to refactor the API-use.

So thanks again.. :+1:

P.s.: we should consider raising the Atom-dependency to a "tested" level..

[2016-02-12 08:31] florianb commented on #70
Absolutely true - i stumbled over that, too. On the other hand i'd like to be able to test against formal stderr-outputs.

To get around that problem i would add a stderr-log per every issued compiler-version. I mean we rely on the formal javac output since this plugin exists and nothing changed there, yet. I consider the risk as being low.

Additionally i could add a test which does run the compi

[2016-02-12 08:31] florianb commented on #55
@Arcanemagus you're welcome - :+1: I'm merging it in with the upcoming release..

[2016-02-12 17:56] Arcanemagus commented on #68
@florianb No real harm, worst case some users realize they need to update their Atom installations :wink:.

[2016-02-13 00:25] keskiju commented on #62
Javac settings and linter-javac settings should be kept separate, since javac settings are shared among developers, tools and scripts, but linter-javac settings plugin specific. I would just replace the current .classpath file with a javac.properties file that contains all javac settings. For example:

    d=./classes
    encoding=ISO-8859-1
    target=1.7
    classpath=./classes:./lib/*:../somemo

[2016-02-13 00:32] keskiju commented on #62
Actually build.properties would probably be better as a default filename for the file.

[2016-02-13 00:51] ALEXMORF commented on #35
Yes I think so. This functionality will definitely help all involved parties.

[2016-02-13 14:56] florianb commented on #62
I really dislike the idea handling configuration-files on linter-plugin-level. I adds a lot of complexity in the Atom-environment (different platforms must be considered as well as different Node-versions), then parsing of text-files is no easy task as well, which would encourage the use of a third-party node-module - introducing just another dependency.

What you're describing can be made by usin

[2016-02-13 16:11] keskiju commented on #62
Autocomplete-java needs to know classpath but it doesn't run javac command. Therefore even if linter-javac would use argfile, the autocomplete-java package would still have to parse that file for classpath. And same goes for build scripts and other tools.

Introducing a dependency to a third party npm module (e.g. [properties](https://www.npmjs.com/package/properties)) for parsing a standard Java

[2016-02-13 19:38] keskiju commented on #62
My main point is that classpath should be defined in such a format that can be used by different tools and scripts as widely as possible. A standard java properties file would probably be a good choice since it's a very simple format and it is supported by many java build tools out-of-the-box. By using a properties file we would also avoid polluting project with multiple separate settings files, s

[2016-02-15 07:19] florianb commented on #68
I put this issue on hold until @NanoDami has ensured that the bug also appears with an up to date atom. :watch:

[2016-02-15 08:01] florianb commented on #62
I somehow missed that you're the Autocomplete-java developer. It's nice to have you in the discussion.

As you see in the main thread of the per-project configuration for Atom-linter, i agree with you. I prefer a a npm-dependency over a package-dependency. But since i assume that i might be the only person maintaining such a npm-package, i'd like to avoid that additional effort.

As far as i can t

[2016-02-15 08:05] florianb commented on #70
# Improve Specs

- [ ] Add mocked helper.exec per possible java version (at least 6, 7, 8)
- [ ] Add local base-spec to test the functionality of the package on the platform in use

[2016-02-15 17:39] keskiju commented on #62
I probably should have mentioned that I'm developing autocomplete-java :) Yes, a separate node-module sounds good. I'm currently quite busy with work related projects but once I get some free time, I'll see if I can stir up a module that both autocomplete-java and linter-javac can use. At first supporting a simple properties file is probably enough. But surely support for eclipse .classpath would

[2016-02-16 07:45] florianb commented on #62
@keskiju great! No hurry - i will prototype a npm-module for that, if you don't mind.

Maybe its also interesting for you, that as a side effect to #35, i gather a complete list of all class-files generated by javac. If these class-files are of your interest i'd consider a more generic way to obtain and manage class-references.

[2016-02-16 20:21] keskiju commented on #35
This issue probably exists mainly because linter-javac doesn't provide the -d switch. It is annoying that class files are generated to the same directory where your source files are located. But once the -d switch has been implemented, it is probably not necessary to delete classes every time after linting, and it is probably not wise either. If you always delete classes after linting, javac would

[2016-02-16 20:48] keskiju commented on #62
I don't think #35 requires keeping a list of generated class files. You can probably just delete the whole target directory as suggested in the opening message of the issue.

Surely, make a prototype. Perhaps usage of the npm module could be something like this (here javaEnv is the npm module):

    const cpInfo = await javaEnv.findClasspathInfo(currentPath, projectPath);
    await lint(currentFil

[2016-02-16 21:43] keskiju commented on #62
Actually since project may consist of multiple modules that each have their own classpath, perhaps cleaning the whole project should go like this:

    deleteDirs(javaEnv.getTargetDirs());

So basically javaEnv keeps track of all classpaths.

[2016-02-17 08:02] florianb commented on #62
Nevermind, i only use coffeescript to get more used to it and because of its extensive use in the atom-project.

I don't mind using ES or Babel as foundation for the module. In order to keep track of the project i think we can't avoid a dependency to atom. So i'd name the module `atom-javaenv`.
I will draft the project, adding a API-proposal to talk about.

[2016-02-17 09:46] florianb opened #75 "Linter-javac adds >150 ms to loadtime"
That's slow as a :snail:...

[2016-02-17 09:46] florianb commented on #75
I guess is will refactor the whole thing soon.

[2016-02-17 10:16] keskiju commented on #75
Yeah, that is slow :) What is the current opinion on Atom community about CoffeeScript vs Babel/ES6? Is Atom community moving towards ES6 or still continuing with CoffeeScript? If you're going to refactor the whole thing anyway, perhaps Babel could be considered? It might help getting more contributions, since many Java coders are very familiar with JavaScript but only few know CoffeeScript.

[2016-02-17 10:31] florianb commented on #75
:sweat:
I didn't recognize that connection between Java-Devs and JavaScript but i guess you're right. This would definitely raise contribution-potential.

In fact i have no clue where the coffeescript-thing goes, but i think in general ES will be the simplest thing to rely on. I think it's considerable good idea to rely on ES when refactoring.

[2016-02-17 10:32] steelbrain commented on #75
Just a side note that most of the base linter package has been rewritten into ES6+ and everything new going forward will be in ES6+ instead of coffeescript

[2016-02-17 10:33] florianb commented on #75
@steelbrain - thanks, then it is decided.. :dancers:

[2016-02-17 10:36] florianb commented on #55
@steelbrain - i am still working on the tests and i have a question (which i already posted on Slack), is there a way to obtain the linted messages from within a running atom-environment?

[2016-02-17 10:40] steelbrain commented on #55
Usually the way we test linter providers is,
[code]

[2016-02-17 10:50] florianb commented on #55
Hmm, `getProvider()` is currently unavailable since i tried to not instantiate the linter on my own but use the instance created by atom. But i guess that's just not possible.

[2016-02-17 10:51] florianb commented on #55
Thanks anyways! I'm going to instantiate the linter again.. :candy:

[2016-02-17 11:01] florianb commented on #75
https://github.com/AtomLinter/linter-javac/blob/master/lib/init.coffee#L20

should be

[code]

[2016-02-17 15:07] keskiju commented on #62
Perhaps javaenv should be a atom package after all. It would serve as a base package that would provide some basic configurations and commands that other java related plugins could rely on:

* JAVA_HOME setting
* 'clean project' command that makes plugins discard all temp data (compiled class files, class dictionaries held in memory, etc)
* ...

[2016-02-18 08:22] florianb opened #76 "Rewriting linter-javac in ES(6?)"
I am currently working hard making bugs testable, ironing bumps out and enhance the use of classpaths in general.

It unfortunately seems to be a huge effort to make the linter-javac-plugin :smoking:-testable **without** touching the plugin itself. I currently don't want to add any untested functionality to prevent delivering a failure to our users.

Therefore i file this issue to **collect** idea

[2016-02-18 08:25] florianb commented on #76
Proof the implementation of performance tests.

[2016-02-18 08:26] florianb commented on #75
This issue is part of the 2.0.0-release.

[2016-02-18 08:26] #75 closed

[2016-02-18 08:27] florianb commented on #70
This issue is part of the refactoring: #76

[2016-02-18 08:27] #70 closed

[2016-02-18 08:29] florianb commented on #68
This issue is currently not testable and therefore put to the next major release: #76

[2016-02-18 08:30] florianb commented on #67
This becomes part of the next major release: #76

[2016-02-18 08:30] #67 closed

[2016-02-18 08:33] florianb commented on #66
I put this issue on the next major-release: #76

[2016-02-18 08:33] #66 closed

[2016-02-18 08:35] florianb commented on #62
@keskiju :+1: - that's all reasonable, it will be a atom-package written in ES.

I therefore close this issue and add the requirement to the next major-release: #76

[2016-02-18 08:35] #62 closed

[2016-02-18 08:43] florianb commented on #58
This bug is considered as being untestable. I'd like to try to create a quick-patch for the next milestone but it will be resolved at least with the next upcoming major-release #76 - thank you all for your patience.

[2016-02-18 08:47] florianb commented on #41
The classpath concerns will be bundled in the new and shiny [`atom-javaenv`-package](javaenv) - it will be introduced with the next major-release #76.

Thank you all for your contribution and thoughts on this topic! :gift_heart:

[javaenv]: https://github.com/florianb/atom-javaenv

[2016-02-18 08:47] #41 closed

[2016-02-18 09:12] florianb commented on #36
@daiwenxiamen @supahkutdiamnds: This error seems to belong to a symbolic linked directory can you verify that in your project-folder (including the project-folder itself) is a symbolic linked/symlinked/softlinked folder?

Thank you very much for your support & patience! :gift:

[2016-02-18 12:10] florianb commented on #35
Okay, i added custom-javac-options for the pending 1.6.0-release allowing you to make use of the `-d`-option or anything else.

[2016-02-18 12:10] #35 closed

[2016-02-18 13:11] florianb commented on #58
@GeremyHamlett currently we have here several issues.

## ENAMETOOLONG

`ENAMETOOLONG` is a result from the os telling us, that our javac-call is too long.

I tell you how this may happen, so you can probably find a way fixing this for your own. Currently the linter call is built by concatenating the Javac-executable-path (defaults to simply `javac`), any options and the source-files.

The option

[2016-02-18 14:23] #65 closed

[2016-02-18 18:26] florianb commented on #58
I added a quick and :hankey: fix which ensures, that the assembled lint-command does **not** exceed the assumed limit of your current platform. Which is in that implementation 7.900 characters for `win32` and 130.000 chars for everything else. If the limit is exceeded no more sourcefiles get appended except from the currently opened file, to ensure it gets linted.

If the limiter takes action it l

[2016-02-18 18:26] #58 closed

[2016-02-23 16:39] drakecaiman opened #81 "Suppressing/fixing Unmappable character errors"
I'm currently getting the following error from files with the © in its text:

unmappable character for encoding UTF8…

I don't have a problem compiling these files in ant, so is there a way to fix or suppress these warning in lint? Thanks!

[2016-02-23 17:13] florianb commented on #81
Hi @drakecaiman,

i can only guess why this happens - you should try to find out with which options Ant is calling the java-compiler.

This error indicates a difference between the encoding of your java-sourcefiles and the platform-default encoding. I recommend you to find out how the source-files are encoded (assumingly `UTF8`) and consider changing the platform-encoding if it is not `UTF8`.

 It

[2016-02-23 17:13] #81 closed

[2016-02-23 17:14] florianb commented on #81
See this list for all supported encodings: https://docs.oracle.com/javase/7/docs/technotes/guides/intl/encoding.doc.html

[2016-02-26 11:24] florianb commented on #68
Due to the fact that updating Atom fixed that for @bkazi and @NanoDami didn't respond yet i'll close that issue for now. Feel free to add anything to the thread.

Thanks everybody! :candy:

[2016-02-26 11:24] #68 closed

[2016-02-26 11:25] florianb commented on #36
Ping. :bell:

[2016-02-27 04:36] TAXUEZJU commented on #36
The same issue. I am on openSUSE Leap, linter-gcc works well while linter-javac never works. Javac exist in my $PATH, I also tried manually input full path in the settings but it still does not work. My project-folder is not a linked folder. Thanks for your effort. @florianb

[2016-02-27 08:06] florianb commented on #36
Hey @TAXUEZJU - welcome and thank you very much for your support. :tada:

This bug is currently hard to catch, mainly because of missing diagnostic information and a plenty diversity of assumptions in this thread.

I **summarize**:

- We have one error message (see the 1st post telling us) is (was?) definitely dedicated to symlinks or at least a project-folder-issue.
- We have in general the issue

[2016-02-27 14:22] TAXUEZJU commented on #36
Sounds good. Expect next release.

[2016-02-29 09:44] florianb commented on #36
@TAXUEZJU done.. :+1:

It would be nice if you could provide some verbose log-messages. Thanks a lot... :game_die: :hourglass_flowing_sand:

[2016-03-07 07:34] florianb commented on #36
I close this issue for now since i got no further response which is necessary to debug properly. Feel free to add information, the issue will then be reopened immediately.

Thanks everyone! :candy:

[2016-03-08 19:27] BCasaleiro opened #85 "Uncaught Error: Cannot find module 'shell-path'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.5.4
**System**: Mac OS X 10.11.3
**Thrown From**: [linter-javac](https://github.com/AtomLinter/linter-javac) package, v1.8.0

### Stack Trace

Uncaught Error: Cannot find module 'shell-path'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-03-08 19:56] Arcanemagus commented on #85
Can you uninstall and re-install `linter-javac`? It looks like Atom failed to install all the dependencies... but the current version of the `atom-linter` dependency doesn't even _have_ a dependency on `shell-path`, so that is out of date anyway :stuck_out_tongue:

[2016-03-09 07:32] florianb commented on #85
I'm sorry @Arcanemagus - that's not right. :-1:

@BCasaleiro - thank you for filing that issue! :candy:

The `shell-path`-module is a inherited dependency of `atom-linter`@`4.5.0`. The responsible module was removed with version 4.6.0 of `atom-linter`. I will therefore create a patch of `linter-javac` which efforts a newer version of `atom-linter`.

[2016-03-09 07:48] florianb commented on #85
@BCasaleiro - i published a patch recently. I'd like to ask you to install that update and afterwards leave a message here if the issue is resolved. Thank you very much.

[2016-03-09 17:56] Arcanemagus commented on #85
@florianb Well, it was only half wrong, the latest version of `atom-linter` follows exactly what I said, and re-installing `linter-javac` would (should...) have installed it, the _minimum_ version though does still have it as a dependency, so good call on updating there.

[2016-03-09 19:41] florianb commented on #85
@Arcanemagus that wasn't meant offensive. But before i ask the user to do anything (which is bad enough as long as my objective is delivering faultless software) i prefer figuring out if i can something to avoid any user intervention.

And i experienced that most of the people just drop the :bomb: and don't show up again. So i try to lower the barrier for people to finally confirm the patch or the

[2016-03-10 17:07] BCasaleiro commented on #85
@florianb it seems to be working just fine. Thank you

[2016-03-31 18:16] jvmock opened #86 "Not handling compilation errors from javac < 1.7"
The current released version of linter-javac (1.8.1) appears to not capture compilation failures.  When this occurs the debug reports 0 linter messages, and the linter status reports "No issues".

At a cursory glance I didn't immediately see anything wrong with the parsing routine, however, I haven't had the opportunity to perform further testing to determine a cause.

- Compiler:
  - IBM JDK 1.6

[2016-03-31 18:37] jvmock commented on #86
Ok.  So I did spend a little bit of time looking, and it appears as though the issue is in that older versions of Java (< 1.7) do not include the 'error: ' portion of the output:

    BrokenFile:54: error: invalid method declaration; return type required
      public StrigetIcon() {
             ^

So I'll leave it up to you if supporting anything < 1.7 is even worth considering.

[2016-03-31 19:21] Arcanemagus commented on #86
Personally as Java 7 support from Oracle ended a year ago I don't think this is really worth supporting, but I'll leave it to @florianb to make a final decision as they are the maintainer of this project.

[2016-03-31 19:46] jvmock commented on #86
The more I think about it the more I completely agree with you.  For the sake of performing the linting, I could easily configure my project to point to a newer JRE despite the targeted platform, so I'm going to go ahead and close out this issue.

[2016-03-31 19:46] #86 closed

[2016-04-01 06:47] florianb commented on #86
hi @jvmock, thanks for getting in touch. I somehow agree with @Arcanemagus, but since i know the Enterprise world, i also know that Java 1.6 as well as older versions are still in use.

And in my personal opinion a missing linter option does not help changing minds but makes the world of developers even worse. And this is mainly valid for the subset of Java-developers which prefer Atom over Eclips

[2016-04-01 07:20] Arcanemagus commented on #86
Should this be reopened and labelled as an enhancement @florianb?

Thankfully I don't have to deal with Java at work that much :stuck_out_tongue:.

[2016-04-01 07:26] florianb commented on #86
A good idea @Arcanemagus - i guess we keep it closed until somebody asks for reopening. :grin:

At the beginning i felt Java-development being a torture. After exploring Gradle i decided to write my first atom-package (gradle-ci) which relieved the pain a bit. The linter makes a lot things easier, too. So having Atom at all was my salvation. :)

[2016-04-02 13:01] TAXUEZJU commented on #36
Sorry so long to reply to you. I have tried the debug mode, and got some useful information. It seems linter-javac does work but does not show the error information.
[code]
Obviously, it works but does not show the error information. However, linter-gcc works well. Wish it can help you. Thanks.

[2016-04-03 19:02] florianb commented on #36
Hey @TAXUEZJU - thank you very much! This helps a lot!

:joy: I haven't seen something like that yet. Oracles seems to internationalize it's system-output (i guess 错误 is chinese for "error") and since we're searching for "old" english "errors", the linter seems to miss the error-messages from javac.

I will have to take a deeper look, but i am confident we're able to fix that by at least adding a

[2016-04-04 08:42] #85 closed

[2016-04-08 11:51] florianb commented on #36
@TAXUEZJU i couldn't find any way to control javac's behavior on that issue. So i would like to try creating a RegExp-pattern for that.

Since i was completely unable to make javac speak Chinese here, i would like to ask you fro a favour.

Could you please post the output of `javac --version` and an example for an error- as well as a warining-output here?

Thank you very much in advance! :beer:

[2016-04-09 03:43] TAXUEZJU commented on #36
Like this?
[code]
I  guess this problem may be caused by Language settings. In openSUSE Leap, if I set language to Chinese, the error information showed in terminal will also be Chinese. But in previous vesion, it didn't do that. So maybe the Chinese error information caused this problem. I decide to try to switch to English and see if this problem exists. Thanks very much.

[2016-04-22 12:18] TAXUEZJU commented on #36
Has the problem been solved?

[2016-04-22 16:51] Arcanemagus commented on #36
@TAXUEZJU Does this look like a valid pulling out of the relevant information?
https://regex101.com/r/rN1tA8/1

If the regex is switched to that you won't get badge highlights in the editor, but at least it will list the messages for you.

[2016-04-23 09:34] florianb commented on #36
@TAXUEZJU i'll prepare the patch the next week. Did you try to change the language-settings?

[2016-04-25 12:50] TAXUEZJU commented on #36
@florianb I have tried to switch the language-settings to English and linter-javac works well. So maybe yo need add more regular expressions if you want it to work under any languages. It's hard work.

[2016-04-25 12:51] florianb commented on #36
@TAXUEZJU - yeah i assumed that. I hadn't the time to push the patch yet but i'll do so in the next few days.

[2016-04-26 10:16] florianb commented on #36
The enhancement (#88) to enable chinese-localization is maturing for a few hours and will then be published later this day. 🍷

[2016-04-26 14:56] florianb commented on #36
@TAXUEZJU - the next minor release has been published. I would appreciate if you could prove the fix. 🍻

[2016-04-26 15:12] Ehekatl commented on #36
@florianb still got problem here : (
![bug](http://7xicnm.com1.z0.glb.clouddn.com/not-lint.PNG)

[2016-04-26 15:14] florianb commented on #36
@Ehekatl thanks for reporting, could you please invoke `javac` by hand and post the output here?

It seems we're having an encoding problem at your debug console - i guess you're using a Windows machine?

[2016-04-26 15:19] Ehekatl commented on #36
@florianb yes, I'm on windwos 10, it should be encoding problem

[code]

[2016-04-26 15:21] florianb commented on #36
@Ehekatl thanks a lot! 🍻

That's going to become a tough nut! 😁

[2016-04-26 15:59] Ehekatl commented on #36
@florianb add `-J-Dfile.encoding=UTF-8` in additional javac flags works but...

[code]

[code]

[2016-04-26 16:01] florianb commented on #36
Oh no - i introduced accidentially a bug. Stay calm..

[2016-04-26 16:14] florianb opened #90 "Enhance base-spec to cover full linter-message"
The base-specs should cover the full linter-api to avoid any breaking patches.

[2016-04-26 16:22] florianb commented on #36
@Ehekatl i'd vote to set `-J-Dfile.encoding=UTF-8` as a standard-option.

It seems that it would even be possible to set english just for a single invocation, annoying that i didn't find that earlier: http://stackoverflow.com/questions/2444712/os-x-terminal-output-of-javac-is-garbled

[2016-04-26 17:03] Ehekatl commented on #36
@florianb 1.9.1 works well :tada: many thx
and it's possible to set english by `-J-Duser.language=en` flag

[2016-04-26 17:20] florianb commented on #36
@Ehekatl thanks for the hint.. these findings will influence #76

🍻

[2016-04-26 17:20] #36 closed

[2016-05-21 15:18] janoop opened #93 "linter-javac only works while saving the file."
Python-linter allows a feature to check the code when there is any changes made but linter-javac only checks for error when file is saved or compiled.

So i want to know that is there any way that linter-javac performs a check when there is any changes made in file.

[2016-05-23 03:50] Arcanemagus commented on #93
The primary thing preventing such a possibility is that this is actually compiling your code and parsing any errors output... thus it needs _all_ files in the project. Secondly it's unlikely that `javac` supports running on a file sent in via `stdin`.

If both of those can be worked around feel free to open this up again.

[2016-05-23 03:50] #93 closed

[2016-05-24 18:35] aaroncarsonart opened #94 "TypeError: Cannot read property 'toLowerCase' of undefined"
When I create a new file `Test.java` and save it with the following content:

[code]

I get this stack trace error popup:

[code]

![screen shot 2016-05-24 at 11 33 36 am](https://cloud.githubusercontent.com/assets/10495264/15515522/6c0e75a4-21a3-11e6-88ec-7ae61eeff4ce.png)

[2016-05-25 05:46] florianb commented on #94
@aaroncarsonart: Thanks a lot for reporting, i will take a look why this happens.

[2016-05-25 06:39] florianb commented on #94
Okay, it seems this happens if the Java-file is placed underneath a symbolic link. I am going to investigate further, it might be that this happens due to an issue in the atom-pathwatcher-library.

[2016-05-26 02:03] aaroncarsonart commented on #94
Yeah, that makes sense.  I can verify the problem file was in a symbolic link directory.  It linked to a location residing on my Dropbox, not sure if that would matter though.

[2016-05-26 05:56] florianb commented on #94
Thanks for verification - i guess i already have some sort of solution and currently try to figure out how hook into the promised callback chain of hell. I guess you can expect the patch until tomorrow.

[2016-05-26 07:38] #94 closed

[2016-05-27 02:27] jonstaryuk opened #96 "Error: Process exited with no output, code: 0"
Starting from v1.9.2, I get this error when javac exits with no errors/warnings. (If javac warns about something, the linter still works correctly.) I looked at sb-exec and the base linter package but couldn't figure out where exactly the problem came from...

[code]

[2016-05-27 07:28] florianb commented on #96
Thanks for reporting @jonstaryuk - i will investigate this issue. Sorry for the inconveniences.

[2016-05-27 08:46] florianb commented on #96
@jonstaryuk i couldn't find a general reason for that issue. It seems like your javac-call doesn't return anything, but i don't know why. It would be helpful if you could run the lint with "Verbose Logging" set to true until the issue appears (please remind to turn it off afterwards) and copy & paste the console output (`Window: Toggle Dev Tools`) here.

I am assuming you're using Java 1.7/.8?

Ho

[2016-05-27 09:40] noseglid opened #98 "Linter javac painfully slow"
Thank you for maintaining this package, it's a good step in improving Java development on Atom. (I'm maintaining [other](https://github.com/noseglid/autocomplete-java-minus) [efforts](https://github.com/noseglid/java-import-wiz)).

To the issue. A few (legacy) projects I work on have quite a few java files in the project (read 100s). The way `linter-javac` works now it recompiles them all on every

[2016-05-27 10:33] florianb commented on #98
Thank you for giving feedback and sharing your experience - i like your packages! ⭐

I also appreciate all contributions which were made so far. Since i initially created this package a lot of necessary functionality was added. At those days i created linter-javac to lint on the fly. And i had the strong feeling to have not enough experience or knowledge around the javac- and Atom-internals to mak

[2016-05-27 12:20] noseglid commented on #98
Thanks for the fast and elaborate answer. I too think this has reached a quite stable points, which means it is time to take it to the next level! 😄

The sourcepath option seems very attractive. I tested it on a few of my (larger) projects and it brings down the compilation time to about ~18s from previous ~55s:

With `-sourcepath`
[code]

Without `-sourcepath` (recompiling everything)
[code]

So

[2016-05-27 14:26] jonstaryuk commented on #96
Yes, javac version 1.8.0_65.

Manually running `javac -Xlint:all *.java` produces no output if there are no problems with the code. Is that behavior not normal?

Logs on Atom launch:

[code]

Lint with no errors/warnings (throws error):
[code]

Lint with errors/warnings (works correctly):
[code]

[2016-06-02 00:58] 50Wliu commented on #96
I can confirm this on two different Windows computers - one running Atom 1.9.0-dev-d71f6e5/Windows 10 and the other Atom 1.7.4/Windows 7.  Both are using linter-javac 1.9.3, though like @jonstaryuk said this exception started happening around 1.9.0 or so.  The 1.9.0-dev laptop is using Java 1.8.0_92 while the 1.7.4 one is using Java 6 or 7 (not too sure; I can check tomorrow).

[2016-06-02 16:37] florianb commented on #96
@50Wliu thank you very much - it seems like this is a Windows-related bug. I guess i need to set AppVeyor up. I will need some more time - please be patient. :)

[2016-06-03 12:33] jskenney commented on #96
@florianb I am having the same issue with ubuntu 16.04 and java version "1.8.0_91"

[2016-06-03 12:36] florianb commented on #96
@jskenney - thanks a lot, these are bad news. Since it seems there are several people affected, i will try to release a hotfix. 🐞

[2016-06-03 16:22] Arcanemagus commented on #96
FYI @florianb this should be as simple as setting the `allowEmptyStderr` flag to true on the `exec()` options (and making sure the code doesn't blow up with an empty output 😛).

[2016-06-03 16:46] florianb commented on #96
Thanks @Arcanemagus - i already thought about enabling `allowEmptyStderr`, but i currently can't test that behavior. I would prefer to know what's happening.

May it be that we all will face that issue as soon as steelbrain's exec is rolled out to everybody? I thought greenkeeper would also update the package-dependencies to the explicit latest versions.

[2016-06-03 17:07] florianb opened #100 "sb/execs cwd-argument has been dropped"
It seems like has dropped the [`cwd`-argument](https://github.com/AtomLinter/linter-javac/blob/master/lib/init.coffee#L197) according to the project's readme: https://github.com/steelbrain/exec/blob/master/README.md

Therefore the cwd-argument may be dropped safely?

[2016-06-03 17:27] florianb commented on #96
@jonstaryuk, @50Wliu, @jskenney - i recently published a patch (1.9.4) which hopefully fixes that problem. Since i wasn't able to reproduce that error i would really appreciate if you could give me any feedback if that patch solved the issue for you!

Thanks in advance! 🍻

[2016-06-03 17:29] Arcanemagus commented on #96
Greenkeeper only checks dependencies of the project, leaving updating of sub-dependencies to them (and any necessary updates would then be handled by it).

[2016-06-03 17:40] Arcanemagus commented on #100
The `cwd` argument was never part of `exec`, it _is_ however forwarded on to Node's [`child_process.spawn()`](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options). If setting the `cwd` is useful, you should definitely still be passing it in 😉.

[2016-06-03 17:48] florianb commented on #100
Ah, thanks for clarification. I guess the rewrite should include proper documentation, too.

Am 03.06.2016 7:40 nachm. schrieb Landon Abney <notifications@github.com>:

The cwd argument was never part of exec, it is however forwarded on to Node's child_process.spawn()<https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options>. If setting the cwd is useful, yo

[2016-06-03 23:32] jskenney commented on #96
@florianb That appears to have fixed the issue for me, thanks for the quick fix!

[2016-06-04 11:02] florianb commented on #96
@jskenney: these are good news! Happy coding.. :)

Am 04.06.2016 1:33 vorm. schrieb jskenney <notifications@github.com>:

@florianb<https://github.com/florianb> That appears to have fixed the issue for me, thanks for the quick fix!

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/AtomLinter/linter-javac/issues/96#issuecomment-

[2016-06-04 18:16] jonstaryuk commented on #96
1.9.4 fixed the issue for me on OS X 10.11.6. Thanks Florian!

[2016-06-06 08:29] florianb commented on #96
This sounds great -- thanks to all involved! 👏

[2016-06-06 08:29] #96 closed

[2016-06-06 08:30] #100 closed

[2016-06-06 16:24] Arcanemagus commented on #76
I recently put performance metrics into `linter-jscs` (implemented testing a bug and decided to put it in there for good). You can check out how I did that [here](https://github.com/AtomLinter/linter-jscs/blob/v4.0.2/src/linter-jscs.js#L12-L25) as an inspiration.

[2016-06-06 19:15] florianb commented on #76
Great idea - thanks @Arcanemagus. I guess i'll implement something similar.

[2016-06-08 08:23] #98 closed

[2016-06-10 07:15] florianb opened #101 "Provide Command to toggle linter"
To let people easily toggle the linter:

- [ ] provide a name for further enhancements (see https://github.com/steelbrain/linter/issues/1165)
- [ ] provide a toggle command, if possible.

[2016-06-30 21:14] snood1205 opened #103 "Ignores maven dependencies while linting"
I'm using this for a maven project and in my `pom.xml` I have

[code]

however, in my test files I have the lines

[code]

Despite `mvn test` running completely fine and `junit` being explicitely specified in my `pom.xml` the linter still marks `org.junit` as a package that does not exist.

[2016-07-01 07:37] florianb commented on #103
Hi @snood1205, thanks for getting in touch. Unfortunately we don't recognise any 3rd-party configurations like Maven, yet.

If JUnit isn't available on your default classpath you might consider adding a .classpath-file to your project.

Does this solve your issue?

[2016-08-08 10:45] efkan opened #105 "Is there any chance to use linter-javac together with standalone files?"
Hello,

I wonder that is there any chance to use `linter-javac` together with a React-Native project.
I mean does it works for standalone java files? If so, how can I do?

Actually I asked on [stackoverflow](http://stackoverflow.com/q/38772865/3765109) this question a couple of days ago. Unfortunately there is no answer yet.

For instance I have a folder as `c:\JavaFiles` which contains several ja

[2016-08-08 11:58] florianb commented on #105
Hi @efkan -- thank you for getting in touch. I hope i got your issue right.

I guess you're using the wrong Linter, linter-javac is meant to lint Java-files/projects. React Native is based on JavaScript. You should be able to lint your React Native project with a JS-linter like [linter-eslint](https://atom.io/packages/linter-eslint) (even though i haven't worked on a React Native project, yet).

I

[2016-08-08 12:09] efkan commented on #105
`React-Native` allows me to develop my own [native `java` modules](http://facebook.github.io/react-native/docs/native-modules-android.html). And I've been developing Java modules for 4 months. I really need to use something like `linter-javac`.

Because at every time I have to build the package with unaware the mistakes of syntax or something like it. And it takes one or two minutes at ever time u

[2016-08-08 12:17] florianb commented on #105
Thanks for clarification @efkan - i didn't know that.

Linter-javac shouldn't need any special configuration to "start" working. In its default configuration it just runs "javac" from the command line which is something you should check. I guess you know that linter-javac currently lints onSave only, which means, to invoke the first lint you'd need to save the current java-file.

If this doesn't h

[2016-08-08 12:37] efkan commented on #105
I really thank you for dealing with a novice like me :)

I had configured my `config.cson` file according to the [guide](https://github.com/AtomLinter/linter-javac#settings). But I don't have any knowledge about java development environments.

I'm sure I did something wrong. For instance I don't have a `.classpath` file.

It appears like:
[code]

And my configuration screenshot:

![adsiz](https://

[2016-08-08 12:50] efkan commented on #105
Thank you!

I had to read the all explanation! and I had seen the `Verbose Logging`.

Everything works perfect!

[2016-08-08 12:50] #105 closed

[2016-08-08 12:51] florianb commented on #105
No worries - I wasn't aware of React Native's Java-link-in-capabilities.. ;D

Okay, first of all, you shouldn't need to tell linter-javac any Additional Parameters. F.e. the Additional Classpaths as well as the Additional Javac Options are implemented to give people with unusual configurations the option to override the defaults.

1. You should start configuring linter-javac by resetting it to the

[2016-08-08 12:52] florianb commented on #105
Just got you're response.. Happy it works for you -- i will leave my answer for other people landing here by some research. 😃

[2016-08-08 12:52] efkan commented on #105
Thanks again and again :)

[2016-09-30 03:17] hsoj95 opened #107 "Javac Lint not working on Mac"
I have been trying to get linter-javac working in Atom for a bit now and can't seem to be able to do so. I have javac installed correctly, I can access it from the command line. I can also confirm that javac -Xlint also works from the command line. Other Linters, namely Lua Linter, works fine in Atom as well.

I have tried messing around with the path settings to no avail.

Here is the error messa

[2016-10-07 01:46] mmansur2 opened #108 "Live Linting"
Can we have an option to provide live listing? instead of on save?

[2016-10-07 17:33] Arcanemagus commented on #108
Live linting requires several things to be true to be able to be supported. The problem with compiler based "linters" like this is they often don't support input from `stdin` with the ability to specify a file that the input represents, which would be necessary to properly support it.

There are a few linters that can still be ran on the fly if they don't support `stdin` simply because the stuff t

[2016-10-10 11:05] florianb commented on #108
Thanks for the question @mmansur2 and for your description @Arcanemagus.

The "on save" restriction is in fact something i would like to change in the future.

I see a possible solution for that problem, by creating a looping lint, which loops until the last change of the codebase was linted. This might, of course, cause some higher load if this option is used on big projects but i guess it will b

[2016-11-09 17:18] stanleynguyen opened #109 "linter-javac doesn't execute javac"
Normally, linter-javac auto-compile my java file whenever I save new changes. However, it doesn't compile anymore thus only able to check my syntax.

[2016-11-10 09:20] florianb commented on #109
Hey @stanleynguyen -- thanks for reporting and sorry to hear it doesn't work. You might want to try enabling the `Verbose Logging` in the settings of the linter-javac-package.

It should then output log-entries to your developer console `Window: Toggle Dev Tools`. It would help potential debugging if you could post the log output.

Please do not forget to disable `Verbose Logging` after debugging,

[2016-11-15 05:23] stanleynguyen commented on #109
found the problem! Because there were too many run time errors from files that reside inside a subdir  so linter-javac couldn't report.

[2016-11-15 05:23] #109 closed

[2016-11-15 07:56] florianb commented on #109
Thanks for getting back @stanleynguyen, could you tell me at which number of errors this broke down? I didn't expect there being a limit within reach.. Thanks in advance! 💝

[2016-11-15 10:02] stanleynguyen commented on #109
I'm not sure how many but it's alot because my subdir contains my android app, which will give me a lot of not found symbols. So there's no problem with my current open program, just that it doesnt auto compile a .class file due to the many problems in the subdir
I would suggest to have a .linterrc file so we can ignore subdir or put some configurations inside

[2016-11-30 08:56] torkelrogstad opened #110 "Support for -d option, destination of .class files"
Although I love this package dearly, I'm regularly frustrated by having `.class` files _everywhere_. Would it be possible to supporting an (optional) option of setting the `-d` option of `javac`? This specifies where the `.class` files will be put.

I'd be happy to have a go at implementing this myself, if someone would give me some pointers to where to start. Would  I be correct in assuming most

[2016-11-30 10:31] keskiju commented on #110
Package already supports additional javac options. They can be given either as package settings or as a separate file placed in the project folder:
- https://github.com/AtomLinter/linter-javac/wiki/additionalJavacOptions
- https://github.com/AtomLinter/linter-javac/wiki/javacArgsFilename

[2016-11-30 11:01] torkelrogstad commented on #110
Oh geez, this is kinda embarrassing... Thanks a lot for pointing that out! Didn't even know there was a wiki with this kind of information...

[2016-12-01 13:59] #110 closed

[2017-01-11 02:34] baozilala opened #111 "Help need, Linter-javac output question mark ??: ??ASCII???????"
My os is OS X EI Capitan with latest Atom.

When I used cmd+i, Linter-javac will output ??? marks and my system language is Chinese, will it affect?

**# sorry guys i think this issue come from Script, not because of linter-javac**

[2017-01-11 02:41] baozilala commented on #111
Yep!
After change my system language to English, the errors changed:

[2017-01-11 05:20] #111 closed

[2017-01-11 07:57] florianb commented on #111
Hi @baozilala - thanks for getting in touch! I am happy this is no bug on our side.

However, you might want to take a look at #36 which was our origin issue starting to support linting javac on Chinese environments. Feel free to come back if you have questions & good luck!

[2017-01-11 08:01] florianb commented on #107
Hi @hsoj95, thanks for getting in touch and sorry for the late response. This is usually a bug popping up when moving Atom while it is running (usually by dragging it from Downloads to Applications).

I don't recognize this issue as being linter-javac-specific. So i will close this issue for now. Please feel free to come back if you'd like to add something.

[2017-01-11 08:01] #107 closed

[2017-01-11 08:02] florianb commented on #103
I close this issue due to missing response.

[2017-01-11 08:02] #103 closed

[2017-03-09 11:45] jiangbianyiye commented on #36
It doesn't work for me for another reason.
I think this issue also relates to Chinese enconding.
I'm using Windows 10 and my Active code page is 936 which means the encoding-GB2312
I just convert Your "init.coffee" file's encoding  to GB2312 and rewrite the Chinese using Notepad++(sadly Atom doesn't support GB2312 yet) and it works pretty well.
I think maybe some people  who meets the similar issu

[2017-03-10 22:44] GabrielBeltrame opened #113 "Error: spawn javac ENOENT"
When i save my class, they sent me this message.

Error: spawn javac ENOENT
    at exports._errnoException (util.js:1026:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:193:32)
    at onErrorNT (internal/child_process.js:359:16)
    at _combinedTickCallback (internal/process/next_tick.js:74:11)
    at process._tickCallback (internal/process/next_tick.js:98:9)

[2017-03-10 22:48] #113 closed

[2017-03-22 10:33] tirafesi opened #114 "Linter-javac is automatically building .class files upon opening .java files"
Whenever I open a ``.java`` file in Atom, ``linter-javac`` creates the ``.class`` files in the same directory automatically. I don't think this was happening before, and it's really annoying.

I want my ``.class`` files to be placed in ``bin/`` but every time I open a file in Atom, ``linter-javac`` decides to compile ALL of the ``.java`` files in that directory (``src/``), so it becomes a big mess

[2017-03-30 01:11] Fatalution opened #115 "Linter not catching any errors on any java files"
I've had linter for a while now, but with the latest update and change in interface it shows me 0 errors...

[2017-03-30 01:30] Arcanemagus commented on #115
Do you have an example project where it isn't working? Are any other linter providers working?

[2017-03-30 01:31] Fatalution commented on #115
Haven't tested, I am pretty much a nooby, first year Uni, first year coding. Used Atom and linter-javac for my Java course and apparently it doesn't display any errors as it used to... Nothing changed really and I'm clueless.

Doesn't work across all my java files

[2017-03-30 01:34] Fatalution commented on #115
<img width="870" alt="2017-03-30 2 34 09" src="https://cloud.githubusercontent.com/assets/17583199/24483634/63a36d74-14f1-11e7-80ce-bdd8a2916f4a.png">
Just to give you a vivid example

[2017-03-30 12:23] florianb commented on #115
Hi @Fatalution - thanks for getting in touch.

At first: I can't reproduce your issue.

It seems like you're using linter-javac the first time, please keep the following points in mind:

- linter-javac needs Java being installed and the `JAVA_HOME` environment variable to be set (see this [article](https://docs.oracle.com/cd/E19182-01/820-7851/inst_cli_jdk_javahome_t/)) or the `JavacExecutablePath

[2017-04-06 22:40] igniscyan opened #116 "Getting null path error"
Ran into this issue after my first Atom restart, not sure if this is an issue with my specific system or an actual bug worth reporting.

Uncaught TypeError: Cannot read property 'filePath' of null

/Users/igniscyan/.atom/packages/java-importer/lib/java-importer-model.coffee:47
Hide Stack Trace
TypeError: Cannot read property 'filePath' of null
    at /Users/igniscyan/.atom/packages/java-importer/l

[2017-07-02 10:28] zygimantus commented on #103
So what is a generic solution for this problem? Because I am also getting errors with import org.apache.log4j.Logger which is defined in pom.xml file while using linter.

[2017-07-03 08:06] florianb commented on #103
Hi @zygimantus - you currently have to make your classes available via `.classpath` file or any additional classpath settings (in the settings of the linter or as environment-variable).

[2017-07-03 10:35] zygimantus commented on #103
Thanks, I tried this config, but the warning is still on, maybe you can see the problem?:

<?xml version="1.0" encoding="UTF-8"?>
<classpath>
  <classpathentry kind="src" path="src/test/java" output="target/test-classes" including="**/*.java"/>
  <classpathentry kind="src" path="src/main/java" including="**/*.java"/>
  <classpathentry kind="src" path="src/main/resources" excluding="**/*.java"/>

[2017-07-03 10:38] zygimantus commented on #103
Nevermind, I solved this when I set the M2_REPO variable in Additional Java Options input like this **M2_REPO=~/.m2/repository**

[2017-07-16 20:31] tech6hutch commented on #115
Not sure if I should post this here or on a new issue, but I'm also having a problem where the linter just isn't catching any errors. I enabled verbose logging, and here's the output:

[code]

It says "Dropping 89 source files, as a result javac may not resolve all dependencies", but it's not linting syntax, either.

[2017-07-17 08:27] florianb commented on #115
Hi @tech6hutch - your issue belongs to #58. Which version of Linter-Javac do you use?

[2017-07-17 10:59] tech6hutch commented on #115
I'm on version 1.9.4. Atom isn't showing any updates for it.

[2017-07-17 14:32] florianb commented on #115
Interesting, because the log-statements originate from an outdated version of linter-javac where the sourcepath-option wasn't used.

[2017-07-17 16:08] tech6hutch commented on #115
Weird. That's what it says. I'll try uninstalling and reinstalling the plugin.

[2017-07-17 16:32] florianb commented on #115
You might want to check for any links (`apm links`) - even though this is pretty unlikely.

[2017-07-17 18:02] tech6hutch commented on #115
Reinstalling didn't change anything. It still outputs this to console:
[code]

My settings were still there, after uninstalling and reinstalling. (All I set was the verbose logging toggle and the javac executable path, since javac isn't on my path.)
![image](https://user-images.githubusercontent.com/25398066/28282438-7270cc7c-6af8-11e7-882f-ddc3f52d6627.png)

[2017-10-08 08:24] jejones3141 opened #118 "error messages about lambda expressions"
I'm using version 1.9.4 of linter-javac, and atom 1.21.0. linter-javac gives an error message pointing out that lambda expressions are only usable in 1.8 and above, but I'm using such a version (actually the currently-new 1.9). How can I suppress such error messages? I tried adding "-source 1.8" to the linter-javac "additional javac options", to no effect.

[2017-12-06 10:28] alexandros369 opened #119 "Unused import statements are not checked"
Hello :relaxed:
It is great for having this atom package! Since I got a slow laptop and it drives me crazy when it runs eclipse or intellij idea really slow, i prefer to use a light-weight text editor such as atom when i'm not at work to do my coding.

So this is not an issue i am having but an idea for improvement of the linter. My idea is that it would be nice if the linter checked for unused im

[2017-12-06 16:55] Arcanemagus commented on #119
This "linter" is just a wrapper around `javac`, as such it only reports compiler errors. You can try checking out [ide-java](https://atom.io/packages/ide-java), but as it uses the same LSP that Eclipse does it will likely be more load on your system than you want.

[2017-12-06 16:55] #119 closed

[2017-12-07 17:49] florianb commented on #119
Hi @alexandros369 - thanks for getting in touch. @Arcanemagus is right, this package just displays warnings/error generated by the java-compiler.

I'd like to refer to static code analyzers for this task: https://stackoverflow.com/questions/97599/static-analysis-tool-recommendation-for-java

[2017-12-13 16:05] felixjustus opened #120 "my linter-javac doesnt know "this." ?"
Hey there,I love the linter package! It became one of my fav packages :). We're learning Objects in Java (first semester in my uni) and the linter underlines mostly the "t" from "this.a" for example, sometimes just the dott./whitespace It's not a biggie but I just wanted to tell you guys and hope youre gonna fix it 🌵.
For example:
`  public Polynom(int a, int b, int c, int d,){
    this.a = a;

[2017-12-13 17:52] Arcanemagus commented on #120
This is essentially only a wrapper around running `javac -Zlint:all file.java`, so either this is a bug in `javac`, or something wrong with your code 😉.

----

It's been many years since I last messed with Java code, but I would guess that maybe you forgot the wrapping `public class Polynom`?

[code]

[2017-12-13 17:56] Arcanemagus commented on #120
You also may be interested in checking out the [ide-java](https://atom.io/packages/ide-java), it provides linting (I'm not sure how it compares to `javac`), as well as many other features such as autocompletion. You'll want to install [atom-ide-ui](https://atom.io/packages/atom-ide-ui) for all the additional functionality.

You can keep using `linter` for the messages if you prefer its interface,

[2017-12-13 17:56] #120 closed

[2018-04-19 10:10] thMike opened #122 "Linter throws duplicate class exceptions even if the files are in different folders"
This issue [https://github.com/AtomLinter/linter-javac/issues/39](url), still exists.

If I have a directory tree like this:

(root)
| _____Folder1
|                   |____ X.java
|                   |____ X.class
| _____Folder2

And I copy X.java to Folder2 I get a duplicate class error. Deleting the class files or restarting atom doesn't fix the issue.

[2018-10-28 13:32] zyrondias opened #123 "Linter-javac doesnt"

[2018-10-28 13:34] zyrondias commented on #123
I have tried uninstalling and reinstalling linter but it doesn't work

[2018-12-12 14:33] BulprosMiroslavHadzhiev opened #124 "Object.dirname is deprecated."
Argument to `path.dirname` must be a string
[code]

[2019-01-14 17:58] Arcanemagus opened #126 "Support v2 Linter API"
In the [v2.3.0 release](https://github.com/steelbrain/linter/releases/tag/v2.3.0) of `linter` support for the v1 API was removed, breaking semver. This means that this provider is no longer supported by the current version of `linter`.

To get this provider working again it will need to be upgrade to the v2 API, a guide for accomplishing that can be found here: [Upgrading to Standard Linter v2](ht

[2019-01-23 13:44] Itachi777 commented on #124
Don't know what this is! I just wanna write java code on my ATOM editor, switched from Sublime Text to ATOM.

[2019-01-28 21:13] #126 closed

[2019-02-03 14:58] michaelkrasa opened #129 "Older atom version"
Atom at our school's computers isn't the latest version but until yesterday everything worked great. The new version unfortunately isn't compatible with my version of atom. I tried installing an older release of linter-javac but nothing in atom suggests that its working.

Atom's version is 1.14.3 and I tried installing versions 1.9.4 and 1.9.2 of linter-javac.

Any ideas how to get it working with

[2019-02-03 20:53] Arcanemagus commented on #129
If the older versions (that were presumably working) aren't working any more then that would suggest the problem isn't with the version of `linter-javac`. All you have said is "nothing suggests that its working", which doesn't give much to go on.

Atom v1.14.3 is _ancient_, if you can't get your school to update the version they have installed on their image I would recommend running a [Portable V

[2019-02-03 20:53] #129 closed, assigned to nobody

[2019-03-10 20:14] iskra0332 commented on #114
I am having this same problem, can anyone shed some light on how to do this. That is, to get the .class files to go somewhere else?

[2019-07-23 10:05] alphatonic opened #130 "Failed to activate the linter-javac package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.38.2 x64
**Electron**: 2.0.18
**OS**: FLOH
**Thrown From**: [linter-javac](https://github.com/AtomLinter/linter-javac) package 1.10.0

### Stack Trace

Failed to activate the linter-javac package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-03-05 01:02] griffinCushing opened #131 "Error compiling with custom classes"
When linting a class, it shows an error when importing custom classes:
![image](https://user-images.githubusercontent.com/61598548/75937181-2fc52580-5e52-11ea-92d5-4bee6f820626.png)

Is this caused by an incorrect .classpath file? If so, how does one create a .classpath file properly? I have found little information on its subject.

[2020-03-05 09:41] florianb commented on #131
Hi @GC-3 - it seems like your `$CLASSPATH` variable isn't set correctly since `javac` can't resolve the symbols. The `.classpath`-file is generated by the Eclipse IDE and can contain references to additional classes.

It depends on your development setup if you have a `.classpath`file or not. But you'll need at least a correct `$CLASSPATH` variable (see this [help](https://docs.oracle.com/javase/t

[2020-03-29 15:40] Justsnoopy30 commented on #58
@florianb The quick and easy fix does not work for me. With a big .classspath, the linter doesn't work and errors with ENAMETOOLONG in the console.

[2020-03-29 16:04] Justsnoopy30 commented on #58
Pinging @Arcanemagus as the most recent contributor.

[2020-03-29 16:10] Justsnoopy30 commented on #76
Is this project abandoned or forgotten about? Nothing has progressed for 4 years.

[2020-03-29 16:16] florianb commented on #76
No. I don't use Atom anymore and i don't program Java currently. So i felt no pressure about it.
Feel free to contribute.

[2020-03-29 17:51] Arcanemagus commented on #58
I don't personally use this linter, and don't have a good enough understanding of Java to suggest a fix. From the look of the rest of the discussion here it seems like this is a result of yet another terrible decision by the Java language designers. If you can come up with a solution and send in a PR (hopefully with tests!) I would be happy to merge it so everyone can benefit.

[2020-03-29 19:55] Justsnoopy30 commented on #58
I now get
[code]

[2020-03-29 19:56] Justsnoopy30 commented on #58
This is just a normal sized classpath.

[2020-03-29 19:56] Justsnoopy30 commented on #58
This is the only java linter for atom, and I can't use it because of this.

[2020-03-29 19:58] Justsnoopy30 commented on #58
Note that I'm on Windows 10.

[2020-03-30 07:52] florianb commented on #58
If you want help - open a new issue and ask for help. Use the verbose logging setting and attach the log. I am going to lock this conversation.

[2020-06-22 09:43] RobertFloor opened #132 "Errors on main class an missing packages"
My java file used to be fine, but suddenly when I open it again I got the following errors.

- The declared package "" does not match the expected package "src"
- Error	Java	Implicit super constructor Object() is undefined for default constructor. Must define an explicit constructor

However this should not be necessary with this simple code

Example code
[code]
Additional info :
 javac -version
j

[2021-10-19 00:35] renovate[bot] opened #136 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Edited/Blocked

These updates have been manually edited so Renovate will no longer make changes. To discard all commits and start over, click on a checkbox.

 - [ ] [fix(deps): update dependency atom-package-deps to v8](../pull/1

[2022-01-27 22:19] Antricks commented on #131
Hello,
I was able to fix this by setting the working directory of javac to the project root dir instead of the path of the source file to be linted. I'd really appreciate a review of my PR, because if my proposed fix works on other systems too, it would improve the user experience of this package immensely, as then you wouldn't need to manually configure classpaths anymore.

[2022-03-23 21:24] velloxen opened #138 "Not recognizing files in the same package"
I have the following code (shortened):

`cars/Automobile.java`
[code]
and `cars/SmallCar.java`
[code]
This compiles perfectly fine via terminal with `/path/to/cars/ $ javac *.java` but linter-javac is showing an error on extending `Automobile` in `SmallCar.java`